BOT_PASSWORD=BOT_PASSWORD_HERE
BOT_USERNAME=Bot
BOT_FORMAT=gen9vgc2025regh
BOT_CHECKPOINT=/app/checkpoints/ppo_checkpoint.pt
BOT_CHALLENGE_LIMIT=1000000
BOT_WS_URL=ws://ps-server:8000/showdown/websocket
BOT_AUTH_URL=http://login:3001/api/action.php?
BOT_LOG_LEVEL=INFO
POSTGRES_PASSWORD=POSTGRES_PASSWORD_HERE
